* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    padding: 2em;
    
}

.hero .title{
    font-size: 100px;
    font-weight: 500;
}

.hero .subtitle {
    margin: 30px;
    padding: 1em;
    font-size: 30px;
    font-weight: 400;
}

.hero i{
    font-size: 100px;
    font-weight: 800;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.intro h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px;
    padding: 2em;
}

.intro .intro-description {
    margin: 10%;
    padding: 1em;
}

.intro .intro-description p{
    font-size: 30px;
}

.intro .intro-description button{
    margin-top: 50px;
    font-size: 25px;
    padding: 10px;
}

.activites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 1em;
}

.activites .activites-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.activites .activites-photos .activity {
    margin: 40%;
    padding: 1em;
}

.activites .activites-photos .activity h3 {
    font-size: 25px;
    font-weight: 800;
}

.activites .activites-photos .activity i {
    font-size: 80px;
    font-weight: 400;
}

.activites button {
    margin-top: 50px;
    font-size: 25px;
    padding: 10px;
}

.recommendation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 1em;
}

.recommendation h2 {
    font-size: 40px;
    margin: 0;
    padding: 2em;
}

.recommendation .recommendation-content {
    font-size: 30x;
    margin: 0;
    padding: 2em;
}

.recommendation .recommendation-content p {
    font-size: 20px;
    margin: 20px;
    padding: .5em;
}

.recommendation .recommendation-content h3 {
    font-size: 30px;
    margin: 20px;
    padding: .5em;
}

.facts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 150px;
    padding: 1em;
}

.facts .fact-content {
    background-color: aqua;
    width: 15%;
    height: 250px;
    border-radius: 50%;
    background-color: #000;
}

.facts .fact-content h3 {
    margin: 80px;
    /* padding: 1em; */
    font-size: 40px;
    color: #fff;
}

.facts .fact-content p {
    margin-top: -70px;
    margin-left: 60px;
    font-size: 25px;
    color: #fff;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 20em;
}

.author p{
    font-size: 30px;
}

.author h3 {
    font-size: 50px;
    margin: 30px;
    padding: 1em;
}

.author i{
    font-size: 200px;
}


.gal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gal img{
    width: 650px;
    height: 650px;
}

